<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>
</head>

<body>
  <header th:replace="/plantilla/plantilla::header"></header>

  <main>
    <div class="container col-12">

        <div class="card border-secondary">

          <div class="card-header text-black text-center text-uppercase fw-bolder fs-2" th:text="${h1}"></div>

          <div class="mx-4 px-4 my-4 py-4">
            <div class="form-group row">
              <div class="card col col-6 border-secondary" style="width: 18rem;">
                <img th:src="@{'/imagenes/receta/' + ${receta.foto}}" class="card-img-top ml-3" th:alt="${receta.foto}">
                <div class="card-body">
                  <h5 class="card-title" th:text="${receta.nombre}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item fas fa-solid fa-utensils fa-1x" th:text="${receta.tiempoDePreparacion}">
                  </li>
                  <li class="list-group-item fas fa-solid fa-clock fa-1x" th:text="${receta.porcion}"></li>
                  <li class="list-group-item fas fa-solid fa-person fa-1x" th:text="${receta.tiempoTotal}"></li>
                </ul>
              </div>

              <div class="col-sm-6 text-capitalize px-4 mx-4">
                <ul class="list-group list-group-flush mb-3 ">
                  <h3 class="text-center pt-3">Ingredientes</h3>
                  <li class="list-group-item"> Ingrediente 1</li>



                </ul>
              </div>
            </div>

          </div>

          <div class="mx-4 px-4 my-4 py-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                  role="tab" aria-controls="home" aria-selected="true">Procemiento</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">Comentarios</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                  role="tab" aria-controls="contact" aria-selected="false">Valoración</button>
              </li>
            </ul>
            <div class="tab-content border border-2" id="myTabContent">
              <div class="tab-pane fade show active mx-4 px-4 my-4 py-4" id="home" role="tabpanel"
                aria-labelledby="Procedimiento">
                <ol class="list-group list-group-numbered">
                  <li class="list-group-item">primer paso</li>
                  <li class="list-group-item">Segundo Paso</li>
                  <li class="list-group-item">Tercer paso</li>
                  <li class="list-group-item">Cuarto paso</li>
                  <li class="list-group-item">Quinto paso</li>
                  <li class="list-group-item">Sexto paso</li>
                  <li class="list-group-item">Septimo paso</li>
                  <li class="list-group-item">Octavo paso</li>
                  <li class="list-group-item">Noveno paso</li>
                  <li class="list-group-item">Decimo paso</li>
                </ol>
              </div>
              <div class="tab-pane fade mx-4 px-4 my-4 py-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nombre de Usuario</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="valoracion" id="votos">

                  <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5">
                      <label for="radio1" class="fas fa-solid fa-star" data-bs-placement="top" title="5"></label>
                      <input id="radio2" type="radio" name="estrellas" value="4">
                      <label for="radio2" class="fas fa-solid fa-star" data-bs-placement="top" title="4"></label>
                      <input id="radio3" type="radio" name="estrellas" value="3">
                      <label for="radio3" class="fas fa-solid fa-star" data-bs-placement="top" title="3"></label>
                      <input id="radio4" type="radio" name="estrellas" value="2">
                      <label for="radio4" class="fas fa-solid fa-star" data-bs-placement="top" title="2"></label>
                      <input id="radio5" type="radio" name="estrellas" value="1">
                      <label for="radio5" class="fas fa-solid fa-star" data-bs-placement="top" title="1"></label>
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn btn-primary me-md-2" type="submit" onclick="mensaje()">Calificar</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">oli</div>
            </div>
          </div>




   
      </div>

    </div>

  </main>

  <footer th:replace="/plantilla/plantilla::footer"></footer>

</body>

</html>