<!DOCTYPE html>
<html lang="en">

<head th:replace="/plantilla/plantilla::head"></head>

<body>
	<header th:replace="/plantilla/plantilla::header"></header>
	<main>

	<div class="container text-center py-3  mt-3">
		<div class="panel bg-light  mt-3">
			<div class="panel-heading  mt-3">
				<h3 class="panel-title text-danger  mt-3"><span th:text="${error}"></span> - <span th:text="${status}"></span>
				</h3>
			</div>
			<div class="panel-body  mt-3">
				<img th:src="@{/imagenes/errores/error.png}" width="48" height="48" alt="">
				<h4 class=" mt-3">Lo sentimos, no tiene permisos para realizar esta acción.</h4>
			</div>
		</div>
	</div>
</main>
<footer th:replace="/plantilla/plantilla::footer"></footer>

</body>
</html>