<!DOCTYPE html>
<html xml:lang xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body>

    <main>
        <div class="d-flex">

            <div class="col col-md-5 py-3">
                <img src="/imagenes/landing/logo.png" alt="Logo RecetApp" class="img-fluid px-2">
            </div>

            <div class="col col-md-7 ">

                <div class="card-body col col-md-12">
                    <div class="text-center bg-card rounded-3 border border-warning border-2">
                        <h2 class="fs-1">Bienvenido <p> <span sec:authentication="name"></span></p>
                       </h2>
                    </div>
                </div>

                <div class="row row-cols-2 row-cols-md-2 col col-md-12 mt-4 me-4 justify-content-center ">

                    <div class="card bg-card border border-warning border-2 ms-5 mb-5 mt-4" style="max-width: 350px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/imagenes/landing/user.svg" class="rounded mx-auto d-block"  style="width:8rem;" alt="user-image">
                                <h5 class="card-title text-center">Usuario</h5>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a th:href="@{/usuario/}" class="btn btn-outline-warning mb-1 border border-dark text-black">Perfil</a>
                                    <a th:href="@{/usuario/}" class="btn btn-outline-warning mb-1 border border-dark text-black">Lista de Usuarios</a>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="btn btn-outline-warning mb-1 border border-dark text-black">Desconectarse</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-card border border-warning border-2 ms-3 mb-5 mt-4" style="max-width: 350px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/imagenes/landing/receta.svg" class="" alt="Recetas" style="width:8rem;">
                                <h5 class="card-title text-center">Recetas</h5>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a th:href="@{/receta/}" class="btn btn-outline-warning mb-1 border border-dark text-black">Lista de recetas</a>
                                    <a th:href="@{/receta/crear}"class="btn btn-outline-warning mb-1 border border-dark text-black">Nueva receta</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-card border border-warning border-2 ms-5 mb-5" style="max-width: 350px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/imagenes/landing/carta.svg" class="rounded mx-auto d-block" alt="Carta" style="width:8rem;">
                                <h5 class="card-title text-center">Menú</h5>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a th:href="@{/carta/}" class="btn btn-outline-warning mb-1 border border-dark text-black">Lista de Menues</a>
                                    <a th:href="@{/carta/crear}"class="btn btn-outline-warning mb-1 border border-dark text-black">Nuevo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>

</body>

</html>