<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body>
  <header th:replace="/plantilla/plantilla::header"></header>
  <main>
<!-- Converti la tabla a cards se deben ver todas las recetas en cartas separadas agregar boton bussqueda por tipo/categoria/otros.  -->
    <div class="container">
      <div class="bg-card col col-md-6 border my-4">
        <h2 class="text-center py-3 fs-2" th:text="${h1}"></h2>
      </div>
      <div class=" text-capitalize">
        <table class="bg-card table table-striped table-hover table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">Foto</th>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Categoria</th>
              <th scope="col">Tiempo de Coccion</th>
              <th scope="col">Tiempo de Preparacion</th>
              <th scope="col">Tiempo Total</th>
              <th scope="col">Porciones</th>
              <th scope="col">Detalle</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="receta:${recetas}">
              <td><img class="center lista-img" th:src="@{'/imagenes/receta/' + ${receta.foto}}"
                  th:alt="${receta.foto}"></td>
              <td th:text="${receta.id}"></td>
              <td th:text="${receta.nombre}"></td>
              <td th:text="${receta.categoria}"></td>
              <td th:text="${receta.tiempoDeCoccion}"></td>
              <td th:text="${receta.tiempoDePreparacion}"></td>
              <td th:text="${receta.tiempoTotal}"></td>
              <td th:text="${receta.porcion}"></td>
              <td><a th:href="@{/receta/detalle/} + ${receta.id}" class="btn btn-info">Detalle</a></td>
              <td><a th:href="@{/receta/editar/} + ${receta.id}" class="btn btn-primary">Editar</a></td>
              <td><a th:href="@{/receta/eliminar/} + ${receta.id}" class="btn btn-danger">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-success" onclick="goBack()" th:href="@{/inicio/}" value="Regresar">Regresar</a>
      </div>
    </div>
  </main>
  <footer th:replace="/plantilla/plantilla::footer"></footer>

</body>

</html>